*{
    padding: 0px;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    display: inline-block;
}
h1 {
    display: inline-block;
    margin-right: 30px;
    padding: 10px;
}
nav {
    display: inline-block;
}
ul {
    display: inline-block;
}
li {
    display: inline-block;
}
a {
    text-decoration: none;
    padding: 0px 10px;
    color: black;
    
}
a:hover {
    color: red;
    
}

#active {
    border-bottom: 2px solid black;
}

#active a {
    font-size: larger;
}

#active:hover {
    border-bottom: 2px solid red;
}
section{
    padding-left: 100px;
    font-size: 20px;
    color: blue;
}